body {
    margin: 0;
  }
  
  #particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
  }
  
  .img {
    display: inline-block;
    height: 100px;
    z-index: 100;