section {
    margin-top: 40%;
}

section > div {
    width: 80%;
    height: 120px;
    margin: 10px 10%;
    border: 4px solid #87cefa;
}

section > div > p { 
    width: 30%;
    font-size: 42px;
    padding: 29px 0 0 30px;
    font-weight: bold;
    display: inline-block;
}

section > div > input[type="date"] {
    width: 35%;
    height: 80px;
    display: inline-block;
    font-size: 42px;
    border: 4px solid #87cefa;
    padding-left: 20px;
}

section > div > select {
    font-size: 42px;
    height: 64px;
    border: 4px solid #87cefa;
    margin-left: 40px;
}

#absent-form {
    width: 910px;
    height: 430px;
    margin-left: 10%;
    border: 4px solid #87cefa;
    padding: 50px 0 0 50px;
}

#absent-form-purpose-text {
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 50px;
}

#absent-form-purpose > input[type="button"] {
    display: inline-block;
    background: white;
    border: 4px solid #87cefa;
    font-size: 32px;
    font-weight: bold;
    width: 130px;
    border-radius: 10px;
    margin-right: 10px;
}

#absent-form-reason-label {
    font-size: 36px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#absent-form-purpose-reason {
    width: 90%;
    background: white;
    border: 4px solid #87cefa;
    border-radius: 5px;
    height: 60px;
    font-size: 38px;
    padding-left: 10px;
}

#absent-submit {
    width: 35%;
    height: 120px;
    color: white;
    background: #87cefa;
    border: none;
    border-radius: 20px;
    font-size: 56px;
    font-weight: bold;
    margin: 50px 0 0 250px
}

.select {
    border: 4px solid #ffd700 !important;
}