body, html {
    min-width: 1400px;
    min-height: 770px;
}

#whole-wrap {
    overflow: hidden;
}

header#pc-main-header {
    width: 180%;
    height: 45%;
    background: #1e90ff;
    position: absolute;
    transform: rotate(5deg);
    left: 0;
    top: -270px;
}

footer#pc-main-footer {
    width: 180%;
    height: 45%;
    background: #1e90ff;
    position: absolute;
    transform: rotate(5deg);
    right: 0;
    bottom: -270px;
}

section#pc-main-section {
    width: 100%;
    height: 70%;
    padding-top: 8%;
}

section#pc-main-section > div#pc-main-left-section {
    width: 30%;
    height: 100%;
    position: relative;
    margin-left: 20%;
}

section#pc-main-section > div {
    display: inline-block;
}

#pc-main-left-section > p {
    color: #87cefa;
    display:inline-block;
    position: absolute;
    font-weight: bold;
}

#pc-main-left-section > p:nth-child(1) {
    font-size: 180px;
    top: 30px;
}

#pc-main-left-section > p:nth-child(2) {
    font-size: 90px;
    top: 110px;
    left: 180px;
}

#pc-main-left-section > p:nth-child(3) {
    font-size: 80px;
    top: 210px;
}

#pc-main-left-section > p:nth-child(4) {
    font-size: 80px;
    top: 290px;
    margin-left: 80px;
}

#pc-main-right-section {
    width: 30%;
    height: 100%;
    margin-left: 5%;
    position: absolute;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > label#pc-main-form-id-label {
    display: block;
    margin: 150px 0 5px 230px;
    font-size: 14px;
    font-weight: bold;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input:nth-child(2), section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input:nth-child(3) {
    height: 60px;
    width: 300px;
    margin-bottom: 15px;
    font-size: 20px;
    padding-left: 15px;
    border: 2px solid #87cefa;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input::placeholder {
    color: #c0cdef;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input[type="checkbox"] {
    display: none;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input[type="checkbox"] + label#pc-main-form-check-label span {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #87cefa;
    cursor: pointer;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > label#pc-main-form-check-label {
    display: inline-block;
    margin-bottom: 30px;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input[type="checkbox"]:checked + label#pc-main-form-check-label span{
    background-image: url('../image/check-icon.png');
    background-size: 14px 14px;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input[type="checkbox"] + label#pc-main-form-check-label {
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input[type="submit"] {
    width: 319px;
    height: 60px;
    background: #87cefa;
    border: none;
    color: white;
    font-size: 38px;
    font-weight: bold;
    display: block;
    
}

section#pc-main-section > div#pc-main-right-section > form#pc-main-form > input[type="submit"]:hover {
    cursor: pointer;
}

#pc-main-header-text, #pc-main-footer-text {
    position: absolute;
    font-size: 32px;
    font-weight: bold;
    z-index: 1;
    color: white;
}

#pc-main-header-text {
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 20px;
}

#pc-main-footer-text {
    bottom: 0;
    left: 0;
    margin-left: 20px;
    margin-bottom: 10px;
}