header {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #87cefa;
    padding-top: 50%;
}

section {
    width: 100%;
    margin-top: 10%;
}

section > div {
    display: inline-block;
    width: 30%;
    height: 450px;
    background: #87cefa;
    margin-left: 1%;
    margin-right: 2%;
    border-radius: 55px;
}

section > div > p {
    font-size: 60px;
    font-weight: bolder;
    color: white;
    text-align: center;
    margin-top: 30%;
}