.a{
    width: 100px;
    height: 100px;
    color: rgb(63, 18, 10);
    background: rgb(169, 221, 223);
    border: 1px solid rgb(110, 76, 145);
    padding: 20px;
    margin: 20px;

    text-decoration: none;
}