
    .green_window {
        display: inline-block;
        width: 366px; height: 34px;
        border: 3px solid #2db400;
        background: white;
    }
    .input_text {
        width: 348px; height: 21px;
        margin: 6px 0 0 9px;
        border: 0;
        line-height: 21px;
        font-weight: bold;
        font-size: 16px;
        outline: none;
    }
    .sch_smit {
        width: 54px; height: 40px;
        margin: 0; border: 0;
        vertical-align: top;
        background: #22B600;
        color: white;
        font-weight: bold;
        border-radius: 1px;
        cursor: pointer;
    }
    .sch_smit:hover {
        background: #56C82C;
    }
    