@keyframes appear
{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*
@keyframes 애니메이션 명 {
    from {}  //애니메이션 시작 요소(위 같은 경우 opacity(투명도)를 0에서 시작해 
    to {} // 1(불투명)로 변하도록 해줌
}

//위랑 다른 방법 
@keyframes 애니메이션 명 {
    0% {}
    n% {}  //n%일때의 모앵
  100% {}
}

이러한 애니메이션은 animation : 애니메이션명으로 호출 가능
*/
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width : 100%;
    height: 100%;
    z-index: -1; /*요소의 높이를 표현(지금은 배경이 다른 요소들보다 아래에 있도록 -1로 설정*/   
 
    animation: appear 0.5s linear;
    /*애니메이션명 뒤의 시간은 얼마에 걸처 일어날지
    지정한 시간이고 linear은 일정한 속도로 진행한느 것을 말한다*/
}